body{
    background-color: gray;
}

ul li{
    list-style-type: none;
    padding-bottom: 10px;
    /* margin-left: -200px; */
    /* bottom: -200px; */
    animation-name: animation-one;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    position: relative;
    bottom: -2000px;
    transition-property: all;
    transition-duration: 1s;
}

@keyframes animation-one{
    0% {
        bottom: -2000px;
    }
    100% {
        bottom: 0px;
    }
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: blue;
}

ul li:hover{
    /* transform: scale(1.2, 1.5); */
    font-size: 50px;
}

.wrapper{
    margin: auto;
}

h1{
    color: rgb(174, 0, 0);
    animation-name: come-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* top: -200px; */
    position: relative;
    top: -500px;
}

@keyframes come-down{
    0%{
        top: -500px;
    }
    100%{
        top: 0px;
    }
}